{% extends "base.html" %}
{% block html %}
<html lang="en">
<body style="font-family: Roboto;">
  <div class="d-flex justify-content-center">
    <h1 class="my-3">Recipease</h1>
  </div>
  {% if user.is_authenticated %}
    <p>Welcome, You are logged in as {{ user.username }}</p>
  {% endif %}

  <div class="d-flex justify-content-center">
    <form method="get" enctype="multipart/form-data" action="{% url 'search' %}">
      {% csrf_token %}
      {{ form.as_p }}
    </form>
  </div>

  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      {% for recipe in top_recipes %}
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="{{ forloop.counter0 }}" {% if forloop.first %}class="active" aria-current="true"{% endif %} aria-label="Slide {{ forloop.counter }}"></button>
      {% endfor %}
    </div>
    <div class="carousel-inner rounded border border-4 border-radius-lg" style="height: 40vw; background-color: #709255ff">
      {% for r, n in top_recipes.items%}
        <div class="carousel-item {% if forloop.first %}active{% endif %}">
          <div class="container">
            <div class="row align-items-start">
              <div class="col">
                <div class="card" style="min-height: 40vw">
                  <div class="card-body">
                    <h5 class="card-title">{{ r.2 }}</h5>
                    <p>Rating: {{ r.7|floatformat:2 }}★</p>
                    <p class="card-text">{{ r.3 }}</p>
                    <p>Cook Time: {{ r.4 }} minutes</p>
                    <p>Instructions: {{ r.5 }}</p>
                    <p>
                      {% if n.0.0.0 > 0 %}
                          Calories: {{ n.0.0.0 }}<br>
                      {% endif %}
                      {% if n.0.0.1 > 0 %}
                          Fat: {{ n.0.0.1 }}<br>
                      {% endif %}
                      {% if n.0.0.2 > 0 %}
                          SatFat: {{ n.0.0.2 }}<br>
                      {% endif %}
                      {% if n.0.0.3 > 0 %}
                          Carbs: {{ n.0.0.3 }}<br>
                      {% endif %}
                      {% if n.0.0.4 > 0 %}
                          Fiber: {{ n.0.0.4 }}<br>
                      {% endif %}
                      {% if n.0.0.5 > 0 %}
                          Sugar: {{ n.0.0.5 }}<br>
                      {% endif %}
                      {% if n.0.0.6 > 0 %}
                          Protein: {{ n.0.0.6 }}<br>
                      {% endif %}
              </p>
                    {% if user.is_authenticated %}
                      <a href="{% url 'favorite_recipe' r.0 %}" class="card-link">Favorite</a>
                      <a href="{% url 'add_comment' r.0 %}" class="card-link">Comment</a>
                      <a href="{% url 'rate_recipe' r.0 %}" class="card-link">Rate</a>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</body>
</html>
{% endblock %}