{% extends "base.html" %}

{% block html %}
<html lang="en">
<head>
  <title>Profile</title>
</head>
<body>
  <div class="d-flex justify-content-center">
    <h1 class="my-3">Profile</h1>
  </div>
  <!--<p>Welcome, {{ user.username }}! This is your profile page.</p> -->

  <div class="m-2">
    <h2>Your Favorited Recipes</h2>
    {% if favorites %}
      {% for recipe in favorites %}
        <div class="border p-3 m-3">
          <p><strong>Title:</strong> {{ recipe.2 }}</p>
          <p><strong>Description:</strong> {{ recipe.3 }}</p>
          <p><strong>Cooking Time:</strong> {{ recipe.4 }} minutes</p>
          <p><strong>Instructions:</strong> {{ recipe.5 }}</p>
          {% if user.is_authenticated %}
            <a class="btn btn-primary" href="{% url 'rate_recipe' recipe.0 %}">Rate</a>
            <a class="btn btn-secondary" href="{% url 'add_comment' recipe.0 %}">Add Comment</a>
            <a class="btn btn-secondary" href="{% url 'unfavorite_recipe' recipe.0 %}">Unfavorite</a>
          {% endif %}
        </div>
      {% endfor %}
    {% else %}
      <p>No favorite recipes yet.</p>
    {% endif %}

  </div>
  <div class="m-2">
    <h2>Your Created Recipes</h2>
    {% if created_recipes %}
      {% for recipe in created_recipes %}
        <div class="border border-secondary p-3 m-3">
          <p><strong>Title:</strong> {{ recipe.2 }}</p>
          <p><strong>Description:</strong> {{ recipe.3 }}</p>
          <p><strong>Cooking Time:</strong> {{ recipe.4 }} minutes</p>
          <p><strong>Instructions:</strong> {{ recipe.5 }}</p>
          {% if user.is_authenticated %}
            <a class="btn btn-primary" href="{% url 'rate_recipe' recipe.0 %}">Rate</a>
            <a class="btn btn-primary" href="{% url 'add_comment' recipe.0 %}">Add Comment</a>
            <a class="btn btn-primary" href="{% url 'delete_recipe' recipe.0 %}">Delete</a>
          {% endif %}
        </div>
      {% endfor %}
    {% else %}
      <p>You have not created any recipes yet.</p>
    {% endif %}
  </div>
</body>
</html>
{% endblock %}
