{% extends "base.html" %}

{% block html %}
<html lang="en">
<head>
  <title>Profile</title>
</head>
<body>
  <div class="d-flex justify-content-center">
    <h1 class="my-3">Profile</h1>
  </div>
  <!--<p>Welcome, {{ user.username }}! This is your profile page.</p> -->

  <div class="m-2">
    <h2>Your Favorited Recipes</h2>
    {% if favorites %}
    {% for favs, n in favorites.items %}
        <div class="border p-3 m-3">
          <p><strong>Title:</strong> {{ favs.2 }}</p>
          <p><strong>Description:</strong> {{ favs.3 }}</p>
          <p><strong>Cooking Time:</strong> {{ favs.4 }} minutes</p>
          <p><strong>Instructions:</strong> {{ favs.5 }}</p>
          <p>
                {% if n.0.0.0 > 0 %}
                    Calories: {{ n.0.0.0 }}<br>
                {% endif %}
                {% if n.0.0.1 > 0 %}
                    Fat: {{ n.0.0.1 }}<br>
                {% endif %}
                {% if n.0.0.2 > 0 %}
                    SatFat: {{ n.0.0.2 }}<br>
                {% endif %}
                {% if n.0.0.3 > 0 %}
                    Carbs: {{ n.0.0.3 }}<br>
                {% endif %}
                {% if n.0.0.4 > 0 %}
                    Fiber: {{ n.0.0.4 }}<br>
                {% endif %}
                {% if n.0.0.5 > 0 %}
                    Sugar: {{ n.0.0.5 }}<br>
                {% endif %}
                {% if n.0.0.6 > 0 %}
                    Protein: {{ n.0.0.6 }}<br>
                {% endif %}
        </p>
          {% if user.is_authenticated %}
          <div class="d-flex justify-content-center mt-2">
              <a class="btn btn-primary" href="{% url 'rate_recipe' favs.0 %}">Rate</a>
              <a class="btn btn-secondary" href="{% url 'add_comment' favs.0 %}">Add Comment</a>
              <a class="btn btn-secondary" href="{% url 'unfavorite_recipe' favs.0 %}">Unfavorite</a>
          </div>
          {% endif %}
      {% endfor %}
    {% else %}
      <p>No favorite recipes yet.</p>
    {% endif %}

  </div>
  <div class="m-2">
    <h2>Your Created Recipes</h2>
     {% if created_recipes %}
      {% for r, n in created_recipes.items %}
        <div class="border p-3 m-3">
          <p><strong>Title:</strong> {{ r.2 }}</p>
          <p><strong>Description:</strong> {{ r.3 }}</p>
          <p><strong>Cooking Time:</strong> {{ r.4 }} minutes</p>
          <p><strong>Instructions:</strong> {{ r.5 }}</p>
          <p>
                {% if n.0.0.0 > 0 %}
                    Calories: {{ n.0.0.0 }}<br>
                {% endif %}
                {% if n.0.0.1 > 0 %}
                    Fat: {{ n.0.0.1 }}<br>
                {% endif %}
                {% if n.0.0.2 > 0 %}
                    SatFat: {{ n.0.0.2 }}<br>
                {% endif %}
                {% if n.0.0.3 > 0 %}
                    Carbs: {{ n.0.0.3 }}<br>
                {% endif %}
                {% if n.0.0.4 > 0 %}
                    Fiber: {{ n.0.0.4 }}<br>
                {% endif %}
                {% if n.0.0.5 > 0 %}
                    Sugar: {{ n.0.0.5 }}<br>
                {% endif %}
                {% if n.0.0.6 > 0 %}
                    Protein: {{ n.0.0.6 }}<br>
                {% endif %}
        </p>
          {% if user.is_authenticated %}
            <a class="btn btn-primary" href="{% url 'rate_recipe' r.0 %}">Rate</a>
            <a class="btn btn-primary" href="{% url 'add_comment' r.0 %}">Add Comment</a>
            <a class="btn btn-primary" href="{% url 'delete_recipe' r.0 %}">Delete</a>
          {% endif %}
        </div>
      {% endfor %}
    {% else %}
      <p>You have not created any recipes yet.</p>
    {% endif %}
  </div>
</body>
</html>
{% endblock %}
