{% extends "base.html" %}
{% block html %}

<html lang="en">
  <head>
    <title>Search</title>
  </head>

  <div class="m-2">
    {% for term in search %}
    <div class="border border-primary p-3 m-3">
      <p>{{ term.3 }}</p>
      <p>{{ term.6 }}</p>
      <p>{{ term.5 }} cooking time</p>
      <p>{{ term.7 }}</p>
      <p>{{ term.9 }}</p>
      <p>{{ term.8 }}</p>
    </div>
    {% if user.is_authenticated %}
    <a class="btn btn-primary" href="{% url 'rate_recipe' term.0 %}">Rate</a>
    <a class="btn btn-primary" href="{% url 'add_comment' term.0 %}" >Add Comment</a>
    {% endif %}
    {% endfor %}
  </div>


  </body>
</html>

{% endblock %}