{% extends "base.html" %}

{% block html %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<style>
  .star-rating {
    font-size: 24px;
    color: #FFD700; /* Color for filled stars */
  }
  
</style>


<html lang="en">
<head>
  <title>Search</title>
</head>
<body>
  <div class="container mt-4">
    {% for term in search %}
    <div class="card mb-3">
      <div class="card-body">
        <h5 class="card-title">{{ term.3 }}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{ term.4 }}</h6>
        <h6 class="card-subtitle mb-2 text-muted">{{ term.6 }}</h6>
        <p class="card-text">
          Cooking time: {{ term.5 }} minutes
        </p>
        <p class="card-text">{{ term.7 }}</p>
        
        <p>
          {% for t in term.8 %}
            <span class="{% if t in terms %}text-primary{% endif %}">
              {{ t }}
            </span>
          {% endfor %}
        </p>

        <div>
          {% for c in term.11 %}
          <div class="row mb-2">
            <div class="col">
              <strong>{{ c.1 }}</strong><br>{{ c.0 }}
            </div>
            {% if c.1 == user.email %}
            <div class="col-auto">
              <a class="btn btn-outline-primary btn-sm" href="{% url 'edit_comment' term.0 c.3 %}">Edit</a>
              <a class="btn btn-danger btn-sm" href="{% url 'delete_comment' term.0 c.3 %}">Delete</a>
            </div>
            {% endif %}
          </div>
          <hr>
          {% endfor %}
        </div>

        {% if user.is_authenticated %}
        <a class="btn btn-primary" href="{% url 'rate_recipe' term.0 %}">Rate</a>
        <a class="btn btn-secondary" href="{% url 'add_comment' term.0 %}">Add Comment</a>
        <a class="btn btn-success" href="{% url 'favorite_recipe' term.0 %}">Favorite Recipe</a>
        {% endif %}
      </div>
    </div>


    <!-- Display Ratings -->
    {% if term.12|length > 0 %}
    <div class="border p-3 m-3">
      <h4>Ratings:</h4>
      <ul>
        {% for rating in term.12 %}
          <li>
            <span class="star-rating">
              <script>
                var rating = {{ rating.0 }}; // Get the numerical rating value
                var filledStars = Math.round(rating); // Calculate the number of filled stars
                for (var i = 0; i < filledStars; i++) {
                  document.write('<i class="fas fa-star"></i>'); // Filled star icon
                }
                for (var i = filledStars; i < 5; i++) {
                  document.write('<i class="far fa-star"></i>'); // Empty star icon
                }
              </script>
            </span>
            - {{ rating.2 }}
          </li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}
    {% endfor %}
  </div>

  </body>
</html>

{% endblock %}
